$primary: #80deea;
$secondary: #234e52;
$success: #66bb6a;
$danger: #ff4136;

//
@import "../node_modules/bootstrap/scss/bootstrap";
//

body {
	background: linear-gradient(-45deg, $cyan-100, $cyan-100, #fff, $cyan-100);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav.navbar.cssnavbar {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

img.card-img-top {
	object-fit: cover;
}

div.card.theatre {
	min-height: 5rem;
	max-height: 5rem;
}

img.card-img-top.theatre {
	height:auto;
	width:3rem;
}

.carousel-item img,
.carousel-item-active img {
	width: 50%;
	max-width: 80rem;
	object-fit: cover;
	height: 20rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  border: white;
  border-width: 5px;
  background-size: 100%, 100%;
  background-color:black;
}

.carousel-control-next-icon:after
{
  font-size: 30px;
  color: white;
}

.carousel-control-prev-icon:after {
  font-size: 30px;
  color: white;
}
// Remove underlines in a search result function
td a {
	text-decoration: none; 
}