$primary: #80deea;
$secondary: #234e52;
$success: #66bb6a;
$danger: #ff4136;

//
@import "../node_modules/bootstrap/scss/bootstrap";
//

// header.ejs
body {
	background: linear-gradient(-45deg, $cyan-100, $cyan-100, #fff, $cyan-100);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav.navbar.cssnavbar {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

// General
hr {
	border: 0;
	border-top: 2px solid rgba(255, 255, 255, 0.5);
}
hr.dark-short {
	width:85%;
    margin:0 auto;
	border: 0;
	border-top: 2px solid rgba(0, 0, 0, 0.6);
}
hr.dark-long {
	width:95%;
    margin:0 auto;
	border: 0;
	border-top: 2px solid rgba(0, 0, 0, 0.6);
}

span.active-like {
	color: hotpink;
}
span.airtime-unaired {
	color: black;
}
span.airtime-onair {
	color: #dc3545;
}
span.airtime-upcoming {
	color: #ffc107;
}

img.card-img-top {
	object-fit: cover;
}

// Remove underlines in a search results
td a {
	text-decoration: none; 
}

// Theatre
div.card.theatre {
	min-height: 5rem;
	max-height: 5rem;
}

img.card-img-top.theatre {
	height:auto;
	width:3rem;
}

// News
div.news-container {
	position: relative;
	text-align: center;
	color: white;
}

div.inside-image-news {
	position: absolute;
	bottom: 8px;
	right: 16px;
}

img.fit-news {
	width: 100%; 
	height: 15rem;
	object-fit: cover;
}
// Carousel

.carousel-item img,
.carousel-item-active img {
	width: 50%;
	max-width: 80rem;
	object-fit: cover;
	height: 20rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  border: white;
  border-width: 5px;
  background-size: 100%, 100%;
  background-color:black;
}

.carousel-control-next-icon:after
{
  font-size: 30px;
  color: white;
}

.carousel-control-prev-icon:after {
  font-size: 30px;
  color: white;
}