<%- include('../partials/header.ejs') %>

  <div class="album py-3 bg-secondary">
    <div class="container">

      <div class='row'>
        <div class='col-12 col-xl-4'>
          <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-2">
            <div class="container">
              <a class="nav-item nav-link active text-white text-center listmode" href="/movies">Now Showing</a>
              <a class="nav-item nav-link text-white text-center listmode" href="/movies?type=cs">Coming Soon</a>
            </div>
          </nav>
        </div>
      </div>
        
      <div class="row">

        <% movielist.forEach(function(movie) { %>
          <%- include('../partials/movieboxes.ejs', {movie : movie}) %> 
        <% }); %>

      </div>
    </div>
  </div>

<%- include('../partials/footer.ejs') %>