<div class='col-3 col-md-2 text-white'>
  <% if (movie.genre.length > 0) { %>
    <span class='fw-bold'>Genres: </span><%= helper.CapAndJoin(movie.genre) %>
  <% } else { %>
    <span class='fw-bold'>No Genres</span>
  <% } %>
  <div>
    <span class='fw-bold'>Length: </span><%= movie.length %> 
  </div>
</div>