<%- include('../partials/header.ejs') %>

<div class="container py-4 mt-4 bg-secondary rounded-3">
    <div class="form-group mb-3 bg-primary border border-secondary rounded-3">
        <h1 class="display-5 fw-bold text-center py-1">Your visited movies</h1>

        <table class="table table-striped bg-light">
            <tbody>
                <% if (false) { %> 
                    <tr><td>
                        <p class="fw-bold mx-4 my-2 text-center">
                            You haven't checked out any movie here yet.
                        </p>
                    </tr></td>
                <% } else { %> 
                    <tr><td>

                        <a href="#" class='text-dark'>
                            <div class='row'>
                                <div class='col-2'>
                                    <div class='d-flex justify-content-center'>
                                        <img src="/assets/unknownavatar.png" alt="AAAAAAAA" height="150px">
                                    </div>
                                </div>
                                <div class='col-8'>
                                    <div class='fw-bold fs-2'>Movie name xxxx xxxx xxxx xxxx v xxxx xx</div>
                                    <div>Film date</div>

                                    <div class="d-grid gap-2 d-flex justify-content-start">
                                        <p class="fw-light">
                                          <% if(!currentUser) {%>
                                            <i class="far fa-heart mf-auto me-2"></i>333
                                          <% } else { %>
                                            
                                            <% if (true) { %>
                                                <span style="color: hotpink;"><i class="fas fa-heart mf-auto me-2 "></i></span>333
                                              <% } else { %> 
                                                <i class="far fa-heart mf-auto me-2"></i>333
                                              <% } %>
                                          <% } %>
                                        </p>
                    
                                        <p class="fw-light">
                                          <i class="fas fa-star"></i>
                                          <% if (false) { %> 
                                            -/10
                                          <% } else { %>  
                                            10/10
                                          <% } %> 
                                        </p>
                    
                                      </div>

                                </div>
                                <div class='col-2'>
                                    Insert genre and length here
                                </div>   
                            </div>
                        </a>

                    </tr></td>
                <% } %> 
            </tbody>
        </table>
    </div>

</div>

<%- include('../partials/footer.ejs') %>

