<%- include('partials/header.ejs') %>

<div class="container">

    <div class="container">
      <div class="row">
          <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
              <div class="login-form bg-dark text-white mt-4 p-4 rounded-3">
                  <form action="/login" method="POST" class="row g-3">
                      <h4>Sign in</h4>

                      <% if(messages.error){ %>
                        <div class='col-12'>
                          <p class="py-1 px-2 rounded border bg-danger text-white"><%= messages.error %></p>
                        </div>
                      <% } %>
                      <% if(messages.loginrequired){ %>
                        <div class='col-12'>
                          <p class="py-1 px-2 rounded border bg-warning text-black"><%= messages.loginrequired %></p>
                        </div>
                      <% } %>

                      <div class="col-12">
                        <label class="form-label">Username</label>
                        <input type="text" pattern="[A-Z][a-z]{0-9}" class="form-control" name="username" 
                        placeholder="Characters and numbers only" required>
                      </div>
                      <div class="col-12">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="8 characters or more"
                        min=8 max=100 required>
                      </div>
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary float-end" value='register'>Login</button>
                      </div>
                  </form>
                  <hr class="mt-4">
                  <div class="col-12">
                      <p class="text-center mb-0">Don't have an account? <a href="/register">Sign up</a></p>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %>