<%- include('partials/header.ejs') %>

<div class="row p-4 p-md-3 text-white rounded bg-dark justify-content-lg-center">
    <h1 class="text-center">404: Target not found</h1> 
</div>

<%- include('partials/footer.ejs') %>